#wrapper{
}
#header{
	clear: both;
	display: block;
	margin: 30px 0 0;
}

#header_wrapper{
	display: block;
  margin: 0 auto;
  position: relative;
  width: 970px;
}
#header_region{
	float: right;
  position: absolute;
  right: 0;
  top: 0;
}

#header_menu{
	background: #356687 url(../images/menu-background.gif) 0 0 repeat-x;
	height: 53px;
	display: block;
	margin: 0;
}
#header_menu_wrapper{
	display: block;
  margin: 0 auto;
  width: 970px;
}

#header_slide_wrapper{
	display: block;
  margin: 26px auto 0;
  width: 970px;
}
#center_content{
display: block;
width: 700px;
float: left;
}
#content{
	display: block;
  margin: 20px auto 0;
  width: 970px;
}
#content_top{
  float: left;
  width: 100%;
  margin: 0 0 12px;
}
#content_bottom{
  float: left;
  width: 100%;
}
#bar_top{

}
#bar_bottom{

}
#sidebar_left{
	float: left;
}

#center_wrapper{
	display: block;
	margin: 0;
}
body.sidebar-left #center_wrapper{
	margin-left: 285px;
}
body.sidebar-right #center_wrapper{
	margin-right: 285px;
}
body.two-sidebars #center_wrapper{
	margin: 0 285px;
}
#center{
	display: block;
  float: left;
  width: 100%;
}

#sidebar_right{
	float: right;
}

#footer{
	clear: both;
  color: #FFFFFF;
  display: block;
  font-size: 110%;
  margin: 20px auto;
  width: 970px;
}
#footer_wrapper{
	background-color: #00334F;
  display: block;
  height: 40px;
  line-height: 12px;
  padding: 0 10px;
}
#footer_left{
  float: left;
  padding: 14px 0 0;
}
#footer_right{
  float: right;
}

.footer_message{float: left; padding: 15px 0 0;}
a.equinoxes{float: right; padding: 11px 5px 0;}
a.equinoxes img{display: block;}


/**
 * Admin
 */
div.admin .left {
	
}
div.admin .right {
	
}
div.admin-panel {
    background-color: #FFFFFF;
    border: 1px solid #71B6E4;
    margin: 0 0 10px;
    padding: 10px 10px 0;
}
div.admin-panel .description {
    margin: 0 0 3px;
    padding: 2px 0 3px;
    font-style: italic;
}
dl.admin-list {
	font-size: 11px;
}
dl.admin-list dt a,
dl.admin-list dt a:link,
dl.admin-list dt a:visited{
	font-weight: bold;
}
dl.admin-list dd{
	margin: 0 0 5px 30px;
}