html {direction: rtl;}
body {direction: rtl;}
#header_region{float: left; left: 0; right: auto;}
#content_top{float: right;}
#content_bottom{float: right;}
#sidebar_left{float: right;}
body.sidebar-left #center_wrapper{margin-right: 0; margin-left: 285px;}
body.sidebar-right #center_wrapper{margin-left: 285px; margin-right: 0;}
#center{float: right;}
#sidebar_right{float: left;}
#footer_left{float: right;}
#footer_right{float: left;}

/**
 * Generic elements
 */
h1, h2, h3, h4{text-indent: 0; font-family: Andalus; font-weight: normal; line-height: 100%;}
h1{font-size: 300%;}
h2{
  border-left: 0 none;
  border-right: 3px solid #0096D7;
  font-weight: normal;
  font-size: 240%;
  padding-left: 0;
  padding-right: 5px;
  text-indent: 0;
}
h3{font-size: 200%;}
p {font-size: 130%;}
a.all-items, a.all-items:link, a.all-items:visited{float: left;}
em {font-style: normal;}
ul.menu li {margin: 0 5px 0 0;}
li.leaf {;}
li, li.leaf, .item-list ul li {list-style-image: url("../images/rtl/puce.gif"); margin: 0 13px 0 0;}
th {text-align: right;}
thead th {text-align: right;}
button{font-family: Arial; font-weight: normal;}
button.form-submit{float: left; margin: 0 20px 0 0;}
button.form-submit span span span{line-height: 22px;}
.resizable-textarea{margin-left: 0; margin-right: 130px;}
label{float: right;}
label.option{/*margin-left: 120px;*/}
.form-checkboxes, .form-radios {margin: 10px 130px 10px 0;}
.block ul {padding: 0 1em 0.25em 0;}

/**
 * Header Region
 */
#header_region .block{float: right;}
#header_region .block .content{float: right;}

/* Block Menu */
#header_region .block-menu{
  background: #0096d7 url(../images/rtl/headreg_secmen-bg.gif) 100% 0% no-repeat;
  padding: 10px 12px 10px 10px;
}
#header_region .block-menu ul.menu li{
  border-left: 1px solid #FFF;
  border-right: 0 none;
  float: right;
  margin: 0 0 0 5px;
  padding: 0 0 0 5px;
}
#header_region .block-menu ul.menu li.last{border-left: 0 none;}

/* Block Search */
#header_region .block-search{background: #00334f url(../images/rtl/search-form-bg.gif) 0% 0% no-repeat; padding: 5px 10px 5px 8px;}
#header_region .block-search form, #header_region .block-search form div{float: right;}
#header_region .block-search .form-item{float: right;}
#header_region .block-search .form-item input.form-text{float: right;}
#header_region .block-search input.form-submit{float: right; margin: 0 4px 0 0;}

/* Language Block */
.lsLeft {background: url("../images/rtl/select-left.png") no-repeat scroll 100% 0% transparent; float: right;}
.lsRight {
  background: url("../images/rtl/select-right.png") no-repeat scroll 0% 0% transparent;
  margin-left: 0;
  margin-right: 3px;
}
.lsTarget {left: auto; right: 0; margin-left: 0; margin-right: -13px;}
.lsTarget ul {left: auto; right: 0; margin-left: 0; margin-right: 16px;}

/* Login Block */
#block-tools-tools_login_block a,
#block-tools-tools_login_block a:link,
#block-tools-tools_login_block a:visited{background: #006493 url(../images/logon.gif) 100% 50% no-repeat; float: right; padding: 0 15px 0 0;}

/**
 * Primary Menu
 */
ul.primary-links{float: right;}
ul.primary-links li{background: url(../images/menu-sep.gif) 100% 0% no-repeat; float: right;}
ul.primary-links li.first, ul.primary-links li.active,
ul.primary-links li.active + li, ul.primary-links li:hover + li, ul.primary-links li.active-trail + li{background: none;}
ul.primary-links li a,
ul.primary-links li a:link,
ul.primary-links li a:visited{padding: 0 10px 0 0;}
ul.primary-links li a span.pmRight{padding: 10px 0 10px 10px;}
ul.subMenu{left: auto; right: 0;}
ul.primary-links li.active-trail a,
ul.primary-links li.active-trail a:link,
ul.primary-links li.active-trail a:visited,
ul.primary-links li.active-trail a.active,
ul.primary-links li.active-trail a.active:link,
ul.primary-links li.active-trail a.active:visited,
ul.primary-links li.active a,
ul.primary-links li.active a:link,
ul.primary-links li.active a:visited,
ul.primary-links li.active a.active,
ul.primary-links li.active a.active:link,
ul.primary-links li.active a.active:visited,
ul.primary-links li a:hover,
ul.primary-links li:hover a:hover,
ul.primary-links li.over a,
ul.primary-links li.over a:link,
ul.primary-links li.over a:visited {background: url("../images/rtl/menu-hot-left.gif") 100% 0 no-repeat;}
ul.primary-links li.active-trail a span.pmRight,
ul.primary-links li.active a span.pmRight,
ul.primary-links li a:hover span.pmRight,
ul.primary-links li:hover a:hover span.pmRight,
ul.primary-links li.over a span.pmRight {background: url("../images/rtl/menu-hot-right.gif") 0% 0% no-repeat;}
ul.primary-links li a span.pmNormal {font-family: Andalus; font-size: 190%; font-weight: normal; line-height: 100%;}
ul.primary-links li a span.pmHover {font-family: Andalus; font-size: 190%; font-weight: normal; line-height: 100%;}

/**
 * Banners
 */
#block-views-banners-block_1{float: right;}
#block-views-banners-block_1 .view-content ul{float: right;}
#block-views-banners-block_1 .view-content ul li{float: right;}
#banner-content{float: right;}
#banner-content > img{float: right;}
#banner-content .banner-left{float: left; right: auto; left: 0;}
#banner-content .banner-left p {}
#banner-content .banner-left a,
#banner-content .banner-left a:link,
#banner-content .banner-left a:visited{
  background: transparent url("../images/rtl/banner-link.gif") 0% 0 no-repeat;
  float: left;
  padding: 5px 7px 5px 18px;
}

/**
 * Welcome Block
 */
#block-tools-tools_welcome_block p {}

/**
 * Bloc Home News
 */
#block-views-news-block_1{float: right;}
#block-views-news-block_1 h2.title{
  background: url(../images/news-block-home_title.gif) 0 0 no-repeat;
  float: right;
}
#block-views-news-block_1 h2.title img{float: right;}
#block-views-news-block_1 .content{float: right;}
#block-views-news-block_1 .view-news{float: right;}
#block-views-news-block_1 .attachment{float: right;}
#block-views-news-block_1 .attachment ul li a.news-ontop{float: right;}
#block-views-news-block_1 .attachment ul li a.news-ontop img{float: right;}
#block-views-news-block_1 .attachment ul li a.news-ontop span.news-infos{float: right; left: auto; right: 0;}
#block-views-news-block_1 .view-content{float: right;}
#block-views-news-block_1 .view-content ul{float: right;}
#block-views-news-block_1 .view-content ul li{float: right;}
a.news-item{
  background: #FFF url(../images/rtl/news-item-go.gif) 15px 50% no-repeat;
  padding: 10px 10px 10px 25px;
}

/**
 * Bloc Focus News
 */
#block-views-focus-block_1{float: left;}
#block-views-focus-block_1 h2.title{float: right;}
#block-views-focus-block_1 h2.title img{float: right;}
#block-views-focus-block_1 .content{float: right;}
#block-views-focus-block_1 .view-focus{float: right;}
#block-views-focus-block_1 .view-focus .view-content div.views-field-title {font-size: 180%;}
#block-views-focus-block_1 .view-focus .view-content div.views-field-body {font-size: 130%;}
#block-views-focus-block_1 .view-focus .view-content div.views-field-nothing {font-size: 130%; font-style: normal;}
#block-views-focus-block_1 .view-focus .view-content div.views-field-view-node a,
#block-views-focus-block_1 .view-focus .view-content div.views-field-view-node a:link,
#block-views-focus-block_1 .view-focus .view-content div.views-field-view-node a:visited{
  background: url("../images/rtl/focus-link.gif") no-repeat scroll 0% 0% transparent;
  float: left;
  padding: 5px 7px 5px 18px;
}

/**
 * Press Release
 */
#block-views-press_releases-block_1 h2.title{margin: -3px 0 5px 0;}
.block .view-press-releases .view-content ul li a{padding: 8px 10px 8px 50px;}
.block .view-press-releases .view-content ul li a:hover{
  background: url(../images/rtl/download.png) 5% 50% no-repeat;
}
.block .view-press-releases span.file-infos img{margin-left: 5px; margin-right: 0;}
.block .view-press-releases span.file-infos {font-style: normal;}

/**
 * Markets News
 */
#block-tools-tools_markets_block h2.title{margin: -3px 0px 0 0; padding-right: 120px;}
#block-tools-tools_markets_block .content p{/*padding-left: 120px; padding-right: 0;*/}
#block-tools-tools_markets_block .content a,
#block-tools-tools_markets_block .content a:link,
#block-tools-tools_markets_block .content a:visited{
  background: url("../images/rtl/markets-link.gif") no-repeat scroll 0% 0% transparent;
}
a.tools_markets_block_link{left: 10px; right: auto;}
#block-tools-tools_markets_block .content a img{display: block;}

/**
 * Markets News
 */
#block-tools-tools_stock_block h2.title{margin: -3px 0 0 0;}
#block-tools-tools_stock_block .content a{float: left;}
a.tools_stock_block_link {left: 10px; right: auto;}

/**
 * Footer Menu
 */
#footer .block-menu ul.menu li{border-right: 0 none; border-left: 1px solid #FFFFFF; margin: 0 0 0 5px; padding: 0 0 0 5px;}
#footer .block-menu ul.menu li.last{border-left: 0 none;}
#footer .block-menu ul.menu li a,
#footer .block-menu ul.menu li a:link,
#footer .block-menu ul.menu li a:visited{font-size: 110%;}

/**
 * Contact Page
 */
#contact-mail-page button.form-submit{float: left;}
#contact-mail-page #edit-copy-wrapper{margin-left: 0; margin-right: 127px;}

/**
 * Sitemap
 */
.site-map-box h2.title{display: none;}


/**
 * FAQ
 */
.faq-question{
  border-right: 5px solid #E1E1E1;
  border-left: 0 none;
  padding: 5px 15px 5px 5px;
}
.faq-answer {
  border-right: 5px solid #EEEEEE;
  border-left: 0 none;
  margin-right: 0;
  padding-right: 15px;
  padding-left: 0;
}