/**
 * Generic elements
 */
body {
  margin: 0;
  padding: 0;
  background: #f5f6f8;
  font-family: Arial;
  font-size: 10px;
  color: #6c6d73;
}

h1{
	color: #00334f;
	font-size: 280%;
	margin: 10px 0;
}

h2{
	border-left: 3px solid #0096d7;
	color: #00334f;
	font-size: 180%;
	padding-left: 5px;
	margin: 10px 0;
}

h3{
  color: #00334f;
  font-size: 160%;
  margin: 0 0 5px;
}
h4{
  
}

p{
	color: #6c6d73;
	font-size: 110%;
	line-height: 200%;
	margin: 20px 0;
}

a, a:link, a:visited{
  color: #0096d7;
  text-decoration: none;
}
a:hover, a:active{
  color: #0096d7;
  text-decoration: underline;
}
a.all-items, a.all-items:link, a.all-items:visited{
	float: right;
	color: #FFF;
	padding: 10px;
	text-transform: uppercase;
	font-size: 90%;
}

ul.menu li {
    margin: 0 0 0 5px;
}
li, li.leaf, .item-list ul li {
  font-size: 110%;
  line-height: 130%;
  list-style-image: url("../images/puce.gif");
  list-style-type: none;
  margin: 0 0 0 13px;
  padding: 3px 0;
}

tbody {
  border-top: 0 none;
}
th {
	color: #FFF;
	background: #0096D7;
  border-bottom: 0 none;
  font-weight: bold;
  padding: 8px;
  text-align: left;
  border-right: 1px solid #FFFFFF;
}
thead th {
	color: #FFF;
	background: #0096D7;
  border-bottom: 0 none;
  font-weight: bold;
  padding: 8px;
  text-align: left;
  text-transform: uppercase;
}
th a, th a:link, th a:visited {
    color: #FFF;
}
tr.even, tr.odd {
  border-bottom: 0 none;
  padding: 0;
}
tr.odd {
  background-color: #EEF0F2;
}
tr.even {
  background-color: #F6F6F8;
}
tr.region {
  background-color: #DFEEF5;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #FFFFFF;
}
tr.even td, tr.odd td, tr td {
	background: none;
  border-bottom: 0 none;
  padding: 8px;
}
table.system-status-report th {
  background-color: #C1C8CB;
}
tr.odd .form-item, tr.even .form-item {
    white-space: normal;
}

.resizable-textarea .grippie{display: none;}

button.form-submit{
	background: none;
	border: 0 none;
  display:-moz-inline-box;
  display: inline;
  /*float: right;
  margin: 0 0 0 20px;*/
  outline: 0 none;
  padding: 0;
  white-space:nowrap;
  text-align:center;
	vertical-align:middle;
	cursor:pointer;

}
button.form-submit span{
	background: url(../images/btn-submit-left.gif) 0% 0% no-repeat;
	float: left;
	padding: 0 0 0 5px;
	position:relative;
	vertical-align:middle;
}
button.form-submit span span{
	background: url(../images/btn-submit-right.gif) 100% 0% no-repeat;
	padding: 0 5px 0 0;
}
button.form-submit span span span{
	background: url(../images/btn-submit-bg.gif) 0% 0% repeat-x;
	padding: 0 10px;
	font-size: 100%;
	font-weight: bold;
	height:22px;
	line-height: 18px;
	color: #FFF;
	text-transform: uppercase;
}

button#edit-reset span{
	background: url(../images/btn-reset-left.gif) 0% 0% no-repeat;
}
button#edit-reset span span{
	background: url(../images/btn-reset-right.gif) 100% 0% no-repeat;
}
button#edit-reset span span span{
	background: url(../images/btn-reset-bg.gif) 0% 0% repeat-x;
}

button#edit-delete span{
	background: url(../images/btn-remove-left.gif) 0% 0% no-repeat;
}
button#edit-delete span span{
	background: url(../images/btn-remove-right.gif) 100% 0% no-repeat;
}
button#edit-delete span span span{
	background: url(../images/btn-remove-bg.gif) 0% 0% repeat-x;
}

button#edit-preview span{
	background: url(../images/btn-preview-left.gif) 0% 0% no-repeat;
}
button#edit-preview span span{
	background: url(../images/btn-preview-right.gif) 100% 0% no-repeat;
}
button#edit-preview span span span{
	background: url(../images/btn-preview-bg.gif) 0% 0% repeat-x;
}

input.form-text{
	background: #F1F1F1;
	border: 1px solid #DCDCDC;
	height: 20px;
	padding: 0 5px;
}
input.form-checkbox{
	margin: 5px 0;
}

.resizable-textarea{
	display: block;
	margin-left: 130px;
	width: auto;
}
body.sidebar-right .resizable-textarea,
body.sidebar-left .resizable-textarea{
	width: 550px;
}
body.two-sidebars .resizable-textarea{
	width: 290px;
}
textarea{
	background: #F1F1F1;
	border: 1px solid #DCDCDC;
  margin: 0 -2px;
	padding: 5px;
}
body.two-sidebars .resizable-textarea textarea{
  width: 280px;
}
body.sidebar-right .resizable-textarea textarea,
body.sidebar-left .resizable-textarea textarea{
  width: 540px;
}

label{
	display: block;
  float: left;
  font-weight: bold;
  width: 130px;
}
label.option{
	display: block;
  float: none;
  font-weight: bold;
	/*margin-left: 130px;*/
  width: auto;
}
#edit-body-wrapper label{float: none; width: auto;}
.form-checkboxes, .form-radios {
    margin: 10px 0 10px 130px;
}
.form-required{color: #0096d7;}


.messages, .preview {
  margin: .75em 0 .75em;
  padding: .5em 1em;
}
.messages ul {
  margin: 0;
}
.messages {
  background-color: #fff;
  border: 1px solid #b8d3e5;
}

.preview {
  background-color: #fcfce8;
  border: 1px solid #e5e58f;
}

div.status {
  color: #33a333;
  border-color: #c7f2c8;
}

div.error, tr.error {
  color: #a30000;
  background-color: #FFCCCC;
}
.clearboth{clear:both; display: block;}

/**
 * Header Region
 */
#header_region .block{
	float: left;
  position: relative;
}
#header_region .block h2.title{
  display: none;
}
#header_region .block .content{
	display: block;
    float: left;
    position: relative;
}

/* Block Menu */
#header_region .block-menu{
	background: #0096d7 url(../images/headreg_secmen-bg.gif) 0 0 no-repeat;
	color: #FFFFFF;
	height: 12px;
  padding: 10px 10px 10px 12px;
}
#header_region .block-menu .content{}
#header_region .block-menu ul.menu{
	margin: 0;
  padding: 0;
}
#header_region .block-menu ul.menu li{
	border-right: 1px solid #FFF;
	float: left;
	list-style: none outside none;
	line-height: 11px;
  margin: 0 5px 0 0;
  padding: 0 5px 0 0;
}
#header_region .block-menu ul.menu li.last{
	border-right: 0 none;
  margin: 0;
  padding: 0;
}
#header_region .block-menu ul.menu li a,
#header_region .block-menu ul.menu li a:link,
#header_region .block-menu ul.menu li a:visited{
	color: #FFF;
	font-size: 100%;
	line-height: 110%;
}
#header_region .block-menu ul.menu li a:hover,
#header_region .block-menu ul.menu li a:active,
#header_region .block-menu ul.menu li a.active{

}

/* Block Search */
#header_region .block-search{
	background: #00334f url(../images/search-form-bg.gif) 100% 0% no-repeat;
	padding: 5px 8px 5px 10px;
}
#header_region .block-search form, #header_region .block-search form div{
	float: left;
}
#header_region .block-search .form-item{
	background: #f5f6f8;
	float: left;
	margin: 0;
	padding: 5px;
}
#header_region .block-search .form-item label{
	display: none;
}
#header_region .block-search .form-item input.form-text{
	background: #f5f6f8;
	border: 0 none;
	color: #756e75;
	float: left;
	font-size: 110%;
	font-style: italic;
	height: 12px;
	padding: 0;
	margin: 0;
	width: 160px;
}
#header_region .block-search input.form-submit{
	float: left;
	margin: 0 0 0 4px;
}

/* Language Block */
.block-locale{
  padding: 5px;
  
}
.block-locale ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.block-locale ul li{
	list-style: none;
	margin: 0;
	padding: 0;
}
.block-locale ul li.active{
	display: none;
}

.language-select {
    border: 1px solid transparent;
    height: 21px;
    position: relative;
    width: 41px;
    z-index: 999;
}
.lsLeft {
    background: url("../images/select-left.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 21px;
    vertical-align: middle;
    width: 3px;
}
.lsRight {
    background: url("../images/select-right.png") no-repeat scroll 100% 0 transparent;
    color: #333;
    cursor: pointer;
    font: 12px/12px Arial,Helvetica,sans-serif;
    height: 11px;
    margin-left: 3px;
    padding: 5px 7px;
    width: auto;
}
.lsTarget {
    background: none repeat scroll 0 0 transparent;
    left: 0;
    margin-left: -13px;
    margin-top: 18px;
    padding-bottom: 13px;
    position: absolute;
    top: 0;
    z-index: 3;
}
.lsTarget ul {
    background: #FFF;
    border-color: #FFF #CCC #CCC #CCC;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    font: 11px/13px Arial,Helvetica,sans-serif;
    left: 0;
    list-style: none outside none;
    margin-left: 13px;
    margin-top: 3px;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    position: relative;
    top: 0;
    z-index: 4;
}
.lsTarget ul li {
    padding-bottom: 1px;
}
.lsTarget ul li a {
    background: none repeat scroll 0 0 transparent;
    color: #333;
    display: block;
    padding: 3px 5px;
    text-decoration: none;
}
.language-icon{display: block;}

/* Login Block */
#block-tools-tools_login_block{
  background: none repeat scroll 0 0 #006493;
  height: 32px;
  overflow: visible;
  padding: 0;
  width: 80px;
}
#block-tools-tools_login_block .content{}
#block-tools-tools_login_block a#eBanking,
#block-tools-tools_login_block a#eBanking:link,
#block-tools-tools_login_block a#eBanking:visited{
  background: #006493 url(../images/logon.gif) 0 50% no-repeat;
  color: #FFF;
  float: left;
  font-size: 110%;
  line-height: 14px;
  padding: 9px 9px 9px 15px;
  margin-left: 9px;
}
#block-tools-tools_login_block a#eBanking:hover{
  text-decoration: none;
}
#block-tools-tools_login_block a,
#block-tools-tools_login_block a:link,
#block-tools-tools_login_block a:visited{
  color: #FFF;
}

/**
 * Primary Menu
 */

ul.primary-links{
	float: left;
  position: relative;
  width: 970px;
}
ul.primary-links li{
	background: url(../images/menu-sep.gif) 0% 0% no-repeat;
	float: left;
	margin: 0;
  padding: 0;
}
ul.primary-links li.first, ul.primary-links li.active,
ul.primary-links li.active + li, ul.primary-links li:hover + li,
ul.primary-links li.active-trail + li{
	background: none;
}
ul.primary-links li a,
ul.primary-links li a:link,
ul.primary-links li a:visited{
	background: none;
	color: #9ab3c3;
	display: block;
	font-size: 110%;
	padding: 0 0 0 10px;
}
ul.primary-links li a span.pmRight{
	background: none;
	display: block;
	padding: 10px 10px 10px 0;
	height: 33px;
}
/*
ul.primary-links li a span span{
	background-image: url(../images/menu-label-en.png) !important;
	background-repeat: no-repeat;
	display: block;
	padding: 30px 0 10px;
}
*/

ul.primary-links li.active-trail a,
ul.primary-links li.active-trail a:link,
ul.primary-links li.active-trail a:visited
ul.primary-links li.active-trail a.active,
ul.primary-links li.active-trail a.active:link,
ul.primary-links li.active-trail a.active:visited,
ul.primary-links li.active a,
ul.primary-links li.active a:link,
ul.primary-links li.active a:visited
ul.primary-links li.active a.active,
ul.primary-links li.active a.active:link,
ul.primary-links li.active a.active:visited,
ul.primary-links li a:hover,
ul.primary-links li:hover a:hover,
ul.primary-links li.over a,
ul.primary-links li.over a:link,
ul.primary-links li.over a:visited{
	background: url(../images/menu-hot-left.gif) 0 0 no-repeat;
	color: #8f876e;
  text-decoration: none;
}

ul.primary-links li a span.pmHover,
ul.primary-links li a span.pmNormal{
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
}
ul.primary-links li a span.pmNormal{
  color: #FFF;  
  display: block;
}
ul.primary-links li a span.pmHover{
  color: #596c75;  
  display: none;
}

ul.primary-links li.active-trail a span.pmNormal,
ul.primary-links li.active a span.pmNormal,
ul.primary-links li a:hover span.pmNormal,
ul.primary-links li:hover a:hover span.pmNormal,
ul.primary-links li.over a span.pmNormal{
  display: none;
}
ul.primary-links li.active-trail a span.pmHover,
ul.primary-links li.active a span.pmHover,
ul.primary-links li a:hover span.pmHover,
ul.primary-links li:hover a:hover span.pmHover,
ul.primary-links li.over a span.pmHover{
  display: block;
}
ul.primary-links li a span.pmDescription{
  color: #9AB3C3;
  text-decoration: none;
  white-space: nowrap;
}
ul.primary-links li.active-trail a span.pmDescription,
ul.primary-links li.active a span.pmDescription,
ul.primary-links li a:hover span.pmDescription,
ul.primary-links li:hover a:hover span.pmDescription,
ul.primary-links li.over a span.pmDescription{
  color: #8f876e;
  text-decoration: none;
}

ul.primary-links li.active-trail a span.pmRight,
ul.primary-links li.active a span.pmRight,
ul.primary-links li a:hover span.pmRight,
ul.primary-links li:hover a:hover span.pmRight,
ul.primary-links li.over a span.pmRight{
	background: url(../images/menu-hot-right.gif) 100% 0 no-repeat;
}

.i18n-en ul.primary-links li#menuNav_1 a span.pmRight{width: 46px;}
.i18n-en ul.primary-links li#menuNav_2 a span.pmRight{width: 73px;}
.i18n-en ul.primary-links li#menuNav_3 a span.pmRight{width: 113px;}
.i18n-en ul.primary-links li#menuNav_4 a span.pmRight{width: 135px;}
.i18n-en ul.primary-links li#menuNav_5 a span.pmRight{width: 147px;}
.i18n-en ul.primary-links li#menuNav_6 a span.pmRight{width: 161px;}
.i18n-en ul.primary-links li#menuNav_7 a span.pmRight{width: 155px;}

.i18n-fr ul.primary-links li#menuNav_1 a span.pmRight{width: 55px;}
.i18n-fr ul.primary-links li#menuNav_2 a span.pmRight{width: 79px;}
.i18n-fr ul.primary-links li#menuNav_3 a span.pmRight{width: 90px;}
.i18n-fr ul.primary-links li#menuNav_4 a span.pmRight{width: 100px;}
.i18n-fr ul.primary-links li#menuNav_5 a span.pmRight{width: 166px;}
.i18n-fr ul.primary-links li#menuNav_6 a span.pmRight{width: 175px;}
.i18n-fr ul.primary-links li#menuNav_7 a span.pmRight{width: 165px;}

.i18n-ar ul.primary-links li#menuNav_1 a span.pmRight{width: 55px;}
.i18n-ar ul.primary-links li#menuNav_2 a span.pmRight{width: 70px;}
.i18n-ar ul.primary-links li#menuNav_3 a span.pmRight{width: 175px;}
.i18n-ar ul.primary-links li#menuNav_4 a span.pmRight{width: 185px;}
.i18n-ar ul.primary-links li#menuNav_5 a span.pmRight{width: 120px;}
.i18n-ar ul.primary-links li#menuNav_6 a span.pmRight{width: 110px;}
.i18n-ar ul.primary-links li#menuNav_7 a span.pmRight{width: 115px;}

/*
ul.primary-links li.active a span span,
ul.primary-links li a:hover span span,
ul.primary-links li:hover a:hover span span,
ul.primary-links li.over a span span{
	background: none;
}

ul.primary-links li#menuNav_1 a span span{background-position: 0 0; width: 46px;}
ul.primary-links li#menuNav_1.active a span span,
ul.primary-links li#menuNav_1 a:hover span span,
ul.primary-links li#menuNav_1.active a:hover span span,
ul.primary-links li#menuNav_1:hover a:hover span span,
ul.primary-links li#menuNav_1.over a span span,
ul.primary-links li#menuNav_1.active:hover a:hover span span{background-position: 0 -53px;}

ul.primary-links li#menuNav_2 a span span{background-position: -66px 0; width: 79px;}
ul.primary-links li#menuNav_2.active a span span,
ul.primary-links li#menuNav_2 a:hover span span,
ul.primary-links li#menuNav_2.active a:hover span span,
ul.primary-links li#menuNav_2:hover a:hover span span,
ul.primary-links li#menuNav_2.over a span span,
ul.primary-links li#menuNav_2.active:hover a:hover span span{background-position: -66px -53px;}

ul.primary-links li#menuNav_3 a span span{background-position: -165px 0; width: 118px;}
ul.primary-links li#menuNav_3.active a span span,
ul.primary-links li#menuNav_3 a:hover span span,
ul.primary-links li#menuNav_3.active a:hover span span,
ul.primary-links li#menuNav_3:hover a:hover span span,
ul.primary-links li#menuNav_3.over a span span,
ul.primary-links li#menuNav_3.active:hover a:hover span span{background-position: -165px -53px;}

ul.primary-links li#menuNav_4 a span span{background-position: -303px 0; width: 139px;}
ul.primary-links li#menuNav_4.active a span span,
ul.primary-links li#menuNav_4 a:hover span span,
ul.primary-links li#menuNav_4.active a:hover span span,
ul.primary-links li#menuNav_4:hover a:hover span span,
ul.primary-links li#menuNav_4.over a span span,
ul.primary-links li#menuNav_4.active:hover a:hover span span{background-position: -303px -53px;}

ul.primary-links li#menuNav_5 a span span{background-position: -462px 0; width: 147px;}
ul.primary-links li#menuNav_5.active a span span,
ul.primary-links li#menuNav_5 a:hover span span,
ul.primary-links li#menuNav_5.active a:hover span span,
ul.primary-links li#menuNav_5:hover a:hover span span,
ul.primary-links li#menuNav_5.over a span span,
ul.primary-links li#menuNav_5.active:hover a:hover span span{background-position: -462px -53px;}

ul.primary-links li#menuNav_6 a span span{background-position: -629px 0; width: 168px;}
ul.primary-links li#menuNav_6.active a span span,
ul.primary-links li#menuNav_6 a:hover span span,
ul.primary-links li#menuNav_6.active a:hover span span,
ul.primary-links li#menuNav_6:hover a:hover span span,
ul.primary-links li#menuNav_6.over a span span,
ul.primary-links li#menuNav_6.active:hover a:hover span span{background-position: -629px -53px;}

ul.primary-links li#menuNav_7 a span span{background-position: -817px 0; width: 132px;}
ul.primary-links li#menuNav_7.active a span span,
ul.primary-links li#menuNav_7 a:hover span span,
ul.primary-links li#menuNav_7.active a:hover span span,
ul.primary-links li#menuNav_7:hover a:hover span span,
ul.primary-links li#menuNav_7.over a span span,
ul.primary-links li#menuNav_7.active:hover a:hover span span{background-position: -817px -53px;}
*/

ul.subMenu{
	background: url(../images/menu-sub-background.gif) 0 100% repeat-x;
	display: none;
	left: 0;
	height: 25px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 53px;
  width: 970px;
  z-index: 7;
}

li.over ul.subMenu, li.active-trail ul.subMenu, li:hover ul.subMenu{
	display: block;
}
ul.primary-links ul.subMenu li{
	background: none;
  line-height: 20px;
	margin: 0 5px;
  padding: 4px 0;
}
ul.primary-links ul.subMenu li a,
ul.primary-links ul.subMenu li a:link,
ul.primary-links ul.subMenu li a:visited,
ul.primary-links ul.subMenu li a:hover,
ul.primary-links ul.subMenu li a:active,
ul.primary-links ul.subMenu li a.active,
ul.primary-links ul.subMenu li.active a,
ul.primary-links ul.subMenu li.active a:link,
ul.primary-links ul.subMenu li.active a:visited,
ul.primary-links ul.subMenu li.active a:hover,
ul.primary-links ul.subMenu li.active a:active,
ul.primary-links ul.subMenu li.active a.active{background: none;}
ul.primary-links ul.subMenu li a,
ul.primary-links ul.subMenu li a:link,
ul.primary-links ul.subMenu li a:visited,
ul.primary-links ul.subMenu li.active a,
ul.primary-links ul.subMenu li.active a:link,
ul.primary-links ul.subMenu li.active a:visited{color: #605b61;}
ul.primary-links ul.subMenu li a:hover,
ul.primary-links ul.subMenu li a:active,
ul.primary-links ul.subMenu li a.active,
ul.primary-links ul.subMenu li.active a:hover,
ul.primary-links ul.subMenu li.active a:active,
ul.primary-links ul.subMenu li.active a.active{color: #605b61; text-decoration: underline;}


/**
 * Banners
 */
#block-views-banners-block_1{
	margin: 0;
  padding: 0;
  float: left;
  width: 970px;
  height: 230px;
  overflow: hidden;
}
#block-views-banners-block_1 .view-content ul{
	list-style: none;
	margin: 0;
  padding: 0;
  float: left;
}
#block-views-banners-block_1 .view-content ul li{
	list-style: none;
	margin: 0;
  padding: 0;
  float: left;
  width: 970px;
  height: 230px;
}
#banner-content{
	color: #FFF;
	position: relative;
  float: left;
  width: 970px;
  height: 230px;
}
#banner-content > img{
	position: relative;
  float: left;
  border: 0 none;
  z-index: 1;
}
#banner-content .banner-left{
	background: url("../images/black-40a.png") repeat scroll 0 0 transparent;
	float: right;
	height: 190px;
	overflow: hidden;
	padding: 20px;
	position: absolute;
	right: 0;
	top: 0;
	width: 225px;
	z-index: 9;
}
#banner-content .banner-left h4{
	font-size: 200%;
	line-height: 100%;
  margin: 0;
}
#banner-content .banner-left p{
	color: #FFF;
	font-size: 110%;
	line-height: 160%;
	margin: 10px 0;
}
#banner-content .banner-left a,
#banner-content .banner-left a:link,
#banner-content .banner-left a:visited{
	background: transparent url("../images/banner-link.gif") 100% 0 no-repeat;
  color: #FFFFFF;
  float: right;
  padding: 5px 18px 5px 7px;
}
#banner-content .banner-left a:active,
#banner-content .banner-left a:hover{
	color: #FFF;
}

/**
 * Block Welcome
 */
#block-tools-tools_welcome_block{
  display: block;
  padding: 0 10px;
  height: 140px;
  overflow: hidden;
}
#block-tools-tools_welcome_block h2.title{
  border: 0 none;
  margin: 0 0 6px;
  padding: 0;
}
#block-tools-tools_welcome_block p{
  line-height: 170%;
  margin: 0 0 10px;
  padding: 0;
}

/**
 * SiderBar
 */
.sidebar{
	padding: 0;
	margin: 0;
	width: 265px;
}

.sidebar .block{
	background: #FFF;
	border: 1px solid #71b6e4;
	padding: 10px;
  position: relative;
	margin: 0 0 10px;
}
.sidebar .block h2.title{
	border: 0 none;
	padding: 0;
	margin: 0 0 8px;
}



/**
 * Bar
 */
.bar{
	padding: 0;
	margin: 0;
}

/**
 * Bloc Home News
 */
#block-views-news-block_1{
 /*float: left;
  width: 96%;*/
}
#block-views-news-block_1 h2.title{
	/*background: url(../images/news-block-home_title.gif) 0 0 no-repeat;*/
  background: #00334E;
  border: 0 none;
  color: #FFFFFF;
  display: block;
  height: 25px;
  margin: 0;
  padding: 4px 10px;
  width: auto;
}
#block-views-news-block_1 h2.title img{
	float: left;
	border: 0 none;
	margin: 0;
	padding: 0;
}
#block-views-news-block_1 .content{
	background: none repeat scroll 0 0 #FFFFFF;
  border-bottom: 4px solid #E5E7EB;
  /*float: left;
  height: 274px;*/
  overflow: hidden;
  padding: 10px;
 
}
#center_content .block{ margin-bottom: 10px;}
#block-views-news-block_1 .view-news{
	float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}
#block-views-news-block_1 .attachment{
	
  height: 137px;
  overflow: hidden;
  padding: 0;
  position: relative;
  /*margin: 0 0 10px;*/
  width: auto;
}

#block-views-news-block_1 .view ul{
	list-style: none;
	margin: 0;
  padding: 0;
}
#block-views-news-block_1 .view ul li{
	list-style: none;
	margin: 0;
  padding: 0;
}

#block-views-news-block_1 .attachment ul li a.news-ontop{
	/*float: left;*/
  height: 137px;
  overflow: hidden;
  position: relative;
  display: block;
}
#block-views-news-block_1 .attachment ul li a.news-ontop:hover{
	text-decoration: none;
}
#block-views-news-block_1 .attachment ul li a.news-ontop img{
	float: left;
  position: relative;
  z-index: 0;
}
#block-views-news-block_1 .attachment ul li a.news-ontop span.news-infos{
	background: url("../images/black-40a.png") repeat scroll 0 0 transparent;
  bottom: 0;
  display: block;
  /*float: left;*/
  left: 0;
  
  position: absolute;
  /*width: 360px;*/
  z-index: 2;
  width: 100%
}

a.news-ontop span{
	display: block;
}
a.news-ontop span.news-title{
	color: #FFF;
	font-size: 140%;
	font-weight: bold;
  margin: 0 0 3px;
  padding: 10px;
}
a.news-ontop span.news-date{
	color: #393c3d;
	font-size: 110%;
	font-weight: normal;
}

#block-views-news-block_1 .view-content{
	float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}
#block-views-news-block_1 .view-content ul{
	float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}
#block-views-news-block_1 .view-content ul li{
	/*float: left;*/
	margin: 0 0 1px;
	padding: 0;
	height: auto;
	/*width: 380px;*/
}

a.news-item{
	background-color: #FFF;
	background-image: url(../images/news-item-go.gif);
	background-position: 99% 50%;
	background-repeat: no-repeat;
	display: block;
	padding: 10px 25px 10px 10px;
}
li.views-row-odd a.news-item{
	background-color: #f7f8f8;
}
li.views-row-even a.news-item{
	background-color: #FFF;
}
li.views-row-odd a.news-item:hover, li.views-row-even a.news-item:hover{
	background-color: #ececec;
	text-decoration: none;
}
a.news-item span{
	display: block;
}
a.news-item span.news-body{
	color: #6c6d73;
	font-size: 110%;
	font-weight: normal;
}
a.news-item span.news-date{
	color: #356687;
	font-size: 110%;
	font-weight: bold;
}


/**
 * Bloc Focus News
 */
#block-views-focus-block_1{
  float: left;
  /*width: 95%;*/
}
#block-views-focus-block_1 h2.title{
 /* background: url(../images/focus-block-home_title.gif) 0 0 no-repeat;*/
  background: #0096D7;
  border: 0 none;
  color: #FFFFFF;
  display: block;
  height: 25px;
  margin: 0;
  padding: 4px 10px;
  width: auto;
}
#block-aggregator-category-1{ clear: both;}
#block-views-focus-block_1 h2.title img{
  float: left;
  border: 0 none;
  margin: 0;
  padding: 0;
}
#block-views-focus-block_1 .content{
  background: none repeat scroll 0 0 #FFFFFF;
  float: left;
  overflow: hidden;
  padding: 10px;
 /*height: 278px; width: 100%;*/
}
#block-views-focus-block_1 .view-focus{
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}
#block-views-focus-block_1 .view-focus .view-content{

}
#block-views-focus-block_1 .view-focus .view-content div span.field-content{
  display: block;
  padding: 0 5px;
}
#block-views-focus-block_1 .view-focus .view-content div.views-field-field-focus-image-fid span.field-content{
  padding: 0;
}
#block-views-focus-block_1 .view-focus .view-content div.views-field-title{
  color: #0096d7;
  font-size: 140%;
  font-weight: bold;
  margin: 10px 0 0;
}
#block-views-focus-block_1 .view-focus .view-content div.views-field-nothing{
  color: #747474;
  font-size: 110%;
  font-style: italic;
  font-weight: normal;
  margin: 0 0 7px;
}
#block-views-focus-block_1 .view-focus .view-content div.views-field-body{
  color: #696c72;
  font-size: 110%;
  font-weight: normal;
  line-height: 140%;
  margin: 0 0 10px;
}
#block-views-focus-block_1 .view-focus .view-content div.views-field-view-node span.field-content{
  padding: 0;
}
#block-views-focus-block_1 .view-focus .view-content div.views-field-view-node a,
#block-views-focus-block_1 .view-focus .view-content div.views-field-view-node a:link,
#block-views-focus-block_1 .view-focus .view-content div.views-field-view-node a:visited{
  background: url("../images/focus-link.gif") no-repeat scroll 100% 0 transparent;
  color: #FFFFFF;
  float: right;
  padding: 5px 18px 5px 7px;
}
#block-views-focus-block_1 .view-focus .view-content div.views-field-view-node a:active,
#block-views-focus-block_1 .view-focus .view-content div.views-field-view-node a:hover{
  text-decoration: underline;
}

/**
 * Press Release
 */
 #block-views-press_releases-block_1{
	/*height: 144px;*/
	margin: 0;
  margin-bottom: 10px;
	overflow: hidden;
}
#block-views-press_releases-block_1 h2.title{
	margin: -3px 0 5px 0;
}
.block .view-press-releases .view-content{

}
.block .view-press-releases .view-content ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.block .view-press-releases .view-content ul li{
	list-style: none;
	margin: 0;
	padding: 0;
}
.block .view-press-releases .view-content ul li.views-row-odd{
	background: #eef0f1;
}
.block .view-press-releases .view-content ul li.views-row-even{
	background: #f7f8f8;
}
.block .view-press-releases .view-content ul li a{
	display: block;
	margin: 0;
	padding: 8px 50px 8px 10px;
}
.block .view-press-releases .view-content ul li a:hover{
	background: url(../images/download.png) 95% 50% no-repeat;
	text-decoration: none;
}

.block .view-press-releases span.date-display-single{
	color: #0096d7;
	display: inline;
	font-size: 110%;
	font-weight: bold;
}
.block .view-press-releases span.file-title{
	color: #6c6d73;
	display: inline;
	font-size: 110%;
	font-weight: normal;
}
.block .view-press-releases span.file-infos{
	color: #00334f;
	display: block;
	font-size: 110%;
	font-style: italic;
	line-height: 90%;
	margin-top: 5px;
}
.block .view-press-releases span.file-infos img{
	margin-right: 5px;
}

/**
 * Markets News
 */
#block-tools-tools_markets_block{
	overflow: hidden;
  height: 115px;
}
#block-tools-tools_markets_block h2.title{
	margin: -3px 0 0 0;
}
#block-tools-tools_markets_block .content p{
	line-height: 130%;
  margin: 5px 0 14px;
  padding-right: 120px;
}
#block-tools-tools_markets_block .content a,
#block-tools-tools_markets_block .content a:link,
#block-tools-tools_markets_block .content a:visited{
	background: url("../images/markets-link.gif") no-repeat scroll 100% 0 transparent;
  color: #FFFFFF;
  display: block;
  padding: 0;
  font-style: italic;
}
a.tools_markets_block_link{
  bottom: 10px;
  right: 10px;
  position: absolute;
}


/**
 * Markets News
 */
.sidebar #block-tools-tools_stock_block{
	overflow: hidden;
	height: 120px;
	border: 0 none;
}
#block-tools-tools_stock_block h2.title{
  color: #FFF;
	margin: -3px 0 0 0;
}
#block-tools-tools_stock_block .content p{
	color: #FFF;
	line-height: 160%;
  margin: 5px 0 14px;
}

table.tools_stock_block_link{
  /*bottom: 10px;
  right: 10px;
  position: absolute;
  display: block;
  list-style: none;*/
  margin: 0;
  padding: 0;
  width: 100%;
  border-spacing: 0;
}
table.tools_stock_block_link tr td{
  color: #FFF;
  list-style: none;
  margin: 0;
  padding: 2px 0;
  width: auto;
}
ul.tools_stock_block_link li > span{
  float: left;
  color: #FFF;
  list-style: none;
}
a.stock-link:link, a.stock-link:visited, a.stock-link{
  float: right;
  color: #666666;
  font-weight: normal;
  font-size: 100%;
  background: url(../images/btn-grey-left.png) 0 0 no-repeat;
  padding-left: 20px;
  margin: 0;
  white-space: nowrap;
}
a.stock-link span{
  float: left;
  background: url(../images/btn-grey-right.png) 100% 0 no-repeat;
  padding-right: 10px;
  line-height: 28px;
  white-space: nowrap;
}
a.stock-link:hover{
  color: #333;
  text-decoration: none;
}

/**
 * Footer Menu
 */
#footer .block-menu{
  
}
#footer .block-menu h2.title{display: none;}
#footer .block-menu .content{
  
}
#footer .block-menu ul.menu{
  
}
#footer .block-menu ul.menu li{
  border-right: 1px solid #FFFFFF;
  color: #FFFFFF;
  display: inline;
  margin: 0 5px 0 0;
  padding: 0 5px 0 0;
}
#footer .block-menu ul.menu li.last{
  border-right: 0 none;
  margin: 0;
  padding: 0;
}
#footer .block-menu ul.menu li a,
#footer .block-menu ul.menu li a:link,
#footer .block-menu ul.menu li a:visited{
  color: #FFFFFF;
  font-size: 90%;
}
#footer .block-menu ul.menu li.active-trail a,
#footer .block-menu ul.menu li a.active,
#footer .block-menu ul.menu li a:hover{
  text-decoration: underline;
}
#footer .block-menu ul.menu li ul.menu{
  display: none;
}

/**
 * Page News List
 */
#center .view-content .item-list ul li{
	border-bottom: 1px solid #EEEEEE;
  border-top: 1px solid #FFFFFF;
  display: block;
  margin: 0;
  padding: 10px 0;
}
#center .view-content .item-list ul li.views-row-first{
  border-top: 0 none;
  padding: 0 0 10px;
}
#center .view-content .item-list ul li.views-row-last{
  border-bottom: 0 none;
  padding: 10px 0 0;
}
#center .view-content .item-list ul li div{
	display: block;
  margin-left: 175px;
}
#center .view-content .item-list ul li div.views-field-field-focus-image-fid,
#center .view-content .item-list ul li div.views-field-field-news-image-fid{
	float: left;
	margin: 0 10px 0 0;
}
#center .view-content .item-list ul li img.imagecache{
	background: #FFFFFF;
	display: block;
	padding: 5px;
	border: 1px solid #CCC;
}
.page-news .view-content .item-list ul li div.views-field-title,
.page-news .view-content .item-list ul li div.views-field-field-news-date-value,
.page-news .view-content .item-list ul li div.views-field-body{
	 
}
.page-news .view-content .item-list ul li div.views-field-field-news-date-value{

}
.page-news .view-content .item-list ul li div.views-field-body{

}

/**
 * Contact Page
 */
#contact-mail-page button.form-submit{
	float: right;
}
#contact-mail-page #edit-copy-wrapper{
	margin-left: 127px;
}

/**
 * Sitemap
 */
.site-map-box{
 	border: 1px solid #EEE;
 	background: #FFF;
 	padding: 10px;
 	margin: 10px 0;
 	
 	-moz-border-radius: 5px;
 	-webkit-border-radius: 5px;
 	border-radius: 5px;
}
.site-map-box h2.title{display: none;}
#site-map .site-map-box ul {margin: 0;}
.site-map-box a, 
.site-map-box a:link, 
.site-map-box a:visited {
  font-size: 120%; line-height: 140%;
}

/**
 * FAQ
 */
.faq-question{
	background: none repeat scroll 0 0 #F2F2F2;
  border-left: 5px solid #E1E1E1;
  display: block;
  padding: 5px 5px 5px 15px;
}
.faq-question a, 
.faq-question a:link, 
.faq-question a:visited {
  font-size: 140%; line-height: 140%;
} 
.faq-answer {
	border-bottom: 1px solid #EEEEEE;
  border-left: 5px solid #EEEEEE;
  display: block;
  margin-left: 0;
  padding-left: 15px;
  margin-bottom: 15px;
}
.faq-answer p{
	margin: 0 0 5px;
}

/**
 * 
 */
.field-field-focus-image,
.field-field-news-image{
	background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  float: left;
  margin-right: 10px;
  padding: 3px;
}
.field-field-focus-image img,
.field-field-news-image img{
	display: block;
}
/*#block-aggregator-category-1{
border:1px solid #71b6e4;
padding: 10px;
position: relative;
margin: 20px 0px 20px;
}*/
#block-aggregator-category-2, #block-aggregator-category-4, #block-aggregator-category-1{
border:1px solid #71b6e4;
padding: 10px;
position: relative;
margin: 0 0 20px;
}

.block-ajax_newsflash #ajaxticker1{ background: #00334F; height: auto; width: auto; padding: 2px;  }
.block-ajax_newsflash #ajaxticker1 div{ background: #00334F; padding: 5px; width: auto !important; }
.block-ajax_newsflash #ajaxticker1 div a{ color: #fff; text-transform: uppercase;}

