/* tooltip styling */
.tooltip {
    background: #287DB0;
    color: #FFFFFF;
    display: none;
    font-size: 10px;
    height: auto;
    left: 0 !important;
    padding: 5px;
    position: absolute;
    text-align: center;
    top: 0 !important;
    width: 70px;
    z-index: 99;
    margin: 32px 0 0;
    
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius:  0 0 5px 5px;
    border-radius:  0 0 5px 5px;
}

/* a .label element inside tooltip */
.tooltip .label {
	color:yellow;
	width:35px;
}

.tooltip a {
	color:#fff;
	font-size:10px;
	white-space: nowrap;
}