<style type="text/css">

/*Example CSS for demo ticker*/

#ajaxticker1{

}

#ajaxticker1 div{ /*IE6 bug fix when text is bold and fade effect (alpha filter) is enabled. Style inner DIV with same color as outer DIV*/
 /*background-color: #FEEEB8; */
}

.ajaxticker1 { //class to apply to your scroller(s) if desired
  width: 200px;
  /* height: 100px; */
  border: 1px ridge black;
  padding: 5px;
  /* background-color: #FEEEB8; */
}

</style>